.profile-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .details {
    &__row {
      display: flex;
      gap: 8px;
    }
  }

  .form {
    &__row {
      display: flex;
      column-gap: 8px;
    }
  }

  .add-vehicle__button {
    margin-top: 16px;
    width: 100%;
    justify-content: space-between;
  }
}
