@import 'src/styles/colors.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 2rem;
  min-height: 220px;
  background-color: $secondary-color;

  &--login {
    padding-bottom: 2rem;
  }

  &--register {
    border-radius: 0 0 2rem 2rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
  }

  .logo {
    width: 50%;
  }

  .banner {
    width: 60%;
    margin-top: 1rem;
  }
}
