$primary-color: #376183;
$secondary-color: #F4C031;
$success-color: #238d3c;
$danger-color: #b32836;
$info-color: #17a2b8;
$warning-color: #F4C031;
$main-bg-color: #EEEEEE;
$aux-bg-color: #9E9E9E;
$main-text-color: #333333;
$active-color: #424242;
$inactive-color: #666666;
