$primary-color: #376183;
$secondary-color: #f4c031;
$success-color: #52C550;
$danger-color: #b32836;
$info-color: #17a2b8;
$warning-color: #f4c031;
$main-bg-color: #eeeeee;
$aux-bg-color: #0000001c;
$active-color: #424242;
$inactive-color: #666666;
$inactive-text-color: #999999;
