$primary-color: #000000;
$secondary-color: #8EB826;
$success-color: #8EB826;
$danger-color: #B32836;
$danger-bg-color: #e89099;
$info-color: #17a2b8;
$warning-color: #f4c031;
$main-bg-color: #eeeeee;
$aux-bg-color: #0000001C;
$active-color: #424242;
$inactive-color: #666666;
$inactive-text-color: #999999;
