@import '/src/styles/colors.scss';

button {
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  width: fit-content;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    background-color: $inactive-color;
    color: $inactive-text-color;
  }
}

.primary {
  background-color: $secondary-color;
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
}

.secondary {
  background-color: transparent;
  color: $warning-color;
  border: 3px solid $warning-color;
  padding: 10px 30px;
  font-weight: bold;
}

.inverse {
  background-color: $main-bg-color;
  color: $secondary-color;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  min-width: 0;

  > img {
    margin-right: 10px;
  }
}

.warning {
  background-color: $warning-color;
  color: $main-bg-color;
  border: 2px solid $main-bg-color;
  padding: 10px 30px;
  font-weight: bold;
}

.danger {
  background-color: $danger-color;
  color: $main-bg-color;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
}
