@import 'src/styles/colors.scss';

button {
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  width: fit-content;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
}

.secondary {
  background-color: transparent;
  color: $primary-color;
  border: 2px solid $primary-color;
  padding: 10px 30px;
  font-weight: bold;
}

.inverse {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  min-width: 0;

  > img {
    margin-right: 10px;
  }
}
