@import 'src/styles/colors.scss';

.nav-menu {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
  -ms-border-radius: 1rem 1rem 0 0;
  -o-border-radius: 1rem 1rem 0 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  

  &__option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-of-type {
        border-right: 1px solid $aux-bg-color;
      }

    &--active {
      color: $active-color;
      font-weight: bold;

        > img {
            opacity: 1 !important;
        }
    }

    p {
      color: $inactive-color;
    }

    > img{
        width: 20px;
        height: 20px;
        margin-right: 10px;
        opacity: 0.7;
    }
  }
}
