@import 'src/styles/colors.scss';

.input {
  width: 100%;
  margin: 1rem 0;

  &__field {
    display: flex;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;

    input {
      width: 100%;
      height: 30px;
      background-color: transparent;
      color: $primary-color;
      padding: 0 10px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &::placeholder {
        color: $primary-color;
      }
    }
  }
}

.search-bar {
  .input__field {
    display: flex;
    border-bottom: none;
    padding: 0;
    background-color: $aux-bg-color;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    padding: 0 10px;

    input {
      color: $active-color;
      padding: 20px 10px;
    }

    input::placeholder {
      color: $inactive-color;
    }
  }
}
