@import 'src/styles/colors.scss';

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;

    &__fields{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .submit-button{
            margin: 2rem 0;
        }
    }

    .register-area{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .register-button{
            margin-top: 1rem;
        }
       
    }
}