@import 'src/styles/colors.scss';

.card{
    background-color: $aux-bg-color;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}