@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/colors.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $secondary-color;
  padding: 10px;
  color: $primary-color;
}