@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/colors.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $primary-color;
}

html,
body {
  background-color: $main-bg-color;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  height: 100vh;
  min-height: 100%;
}
